
/*Fonts*/
@font-face{
    font-family: horror;
    src: url("Assets/fonts/HelpMe.ttf");

}

@font-face {
    font-family: pokemon;
    src: url("Assets/fonts/PocketMonk.ttf");
}

*{
    box-sizing: border-box;
   
}



.horror{
    font: 20px horror;
}

.pokemon{
    font: 30px pokemon;
}

/**/

body{
    padding:0;
    margin:0;
}

h3{
    text-align: center;
    text-decoration: underline 2px green;
    }
h4{
    text-align: center;
    
}

/*Mobile Devices*/


@media screen and (max-width: 419px) {

/*Nav Menu */
.navContainer{
    
    position: absolute;
    right:-100vw;
    width:100%;
    z-index:1;
    background-color: antiquewhite;
    height:100vh;
    transition:2s;
}



.navmenu{
    display:flex;
    flex-direction:column;
    align-items: center; 

    gap:10px;
    
   
}

.navmenu a{
    text-decoration:none;
    padding:20px;
    font-size:2em;   
        
}

.navmenu a:hover{
    color:brown;
}
.navmenu .close{
    cursor:pointer;
    padding:2% 2% 2% 2%;
    margin-right: 2%;
    align-self: self-end;
}
.navmenu .close:hover{
    color:red;
    
}

.stickyHdr{
    position: fixed;
    background-color: rgb(234, 240, 240);
    width:100%;
    height:auto;
    z-index:2;
    
    
}

.header{
    z-index:2;
    position:relative;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-bottom:red 2px solid;
    }


.title{
   grid-column-start:2 ;
  z-index:2;
  text-align: center;     
}

.navBtn{
    margin-right:14px;
    grid-column-start: 3;
    align-self: center;
    display: flex;
    justify-content:end;
   }

.navBtn:hover{
    cursor:pointer;   
    
}

}

/*About section*/

.abtSctn{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:4px;
    border-bottom: solid red 2px;
    padding-top: 100px;
    padding-bottom: 50px;
    font-size:1.5em;
}


.headshot{
    border-radius: 100%;
    max-width:50vw;
}

/*Project container*/

.prjctCntnr{
    display:flex;
    flex-direction: column;
    gap:6px;
    

}

.prjctCard{
    display:flex;
    flex-direction: column;
    border-bottom: solid green 2px;
    padding: 4px;

}

#prjctSctn{
    padding-top: 50px;
    
}

.prjctAbt{
    font-size:2em;
}



.imgCntnr{
    display:flex;
    gap:2px;
}



.imgCntnr .frstImg{
    max-width:30vw;
}

.imgCntnr .scndImg{
    max-width: 60vw;
}

#techsctn{
    padding-top:50px;
}

.techTags{
    padding:10px;
   display: flex;
   flex-wrap: wrap;

}

.techTags span{
    color:red;
    font-size: 20px;
    margin:2px;
    border:red 2px solid;
    padding:4px;
    background-color:azure;
}

.cntctCntnr{
    padding:6px;
}


.cntctLinks{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:10px;
    
}

.cntctLinks a:hover{
    background-color: green;
    cursor:pointer;
}



/*End Mobile Devices*/

/*Animations*/

.fade-in{
    z-index:-1;
    animation:fadeIn linear;
   
}
.fade-in8s{
    z-index:-2;
    animation:fadeIn 4s;
}

.fade-in16s{
    z-index:-2;
    animation:fadeIn 8s;
}

@keyframes fadeIn{
    0% {opacity:0;}
    100% {opacity:1;}
}


/*Desktop and tablet*/

@media screen and (min-width: 420px) {

    .stickyHdr{
        display: flex;
        justify-content:space-between;
        align-items:center;
        position: fixed;
    background-color: rgb(234, 240, 240);
    width:100%;
    height:10vh;
    border-bottom: red 2px solid;
    
    
    }

    .abtSctn{
        padding-top: 10vh;
    }

    .title{
        margin-left:4vw;
    }

    .close{
        display: none;
    }

    .navBtn{
        display:none;
    }

    .navmenu{
        display: flex;
        flex-direction: row;
        gap:6px;
        margin-right: 4vw;
    }

   
    .cntctLinks{
        display:flex;
        flex-direction: row;
        flex-wrap:wrap;
        justify-content: center;
        align-items: center;
        gap:10px;
        
    }
    
    .cntctLinks a:hover{
        background-color: green;
        cursor:pointer;
    }
  }